---
import fs from 'node:fs'
import { countFile } from '../../const';

export const partial = true

const count = +fs.readFileSync(countFile, 'utf-8').trim() - 1
fs.writeFileSync(countFile, count.toString())
---

<span id='count' hx-swap-oob='true'>
  {count}
</span>

